.itemTable {
  width: 85%;
  margin: 0 auto;
}

.newTaskGroup {
  display: flex;
  padding-top: 15px;
}

.newTaskGroup button {
  margin-right: 5px;
}

.num {
  width: 5%;
}

.title {
  width: 55%;
}

.hours {
  width: 10%;
  text-align: center;
}

.hours div {
  font-size: 20px;
  font-weight: 350;
}

.due {
  width: 10%;
}

.status {
  width: 10%;
}

.complete {
  text-decoration: line-through;
}

.table {
  margin-top: 10px;
}
