.taskTable {
  width: 85%;
  margin: 0 auto;
}

.newTaskGroup {
  display: flex;
  padding: 15px;
}

.newTaskGroup button {
  margin-right: 5px;
}

.num {
  width: 5%;
}

.title {
  width: 55%;
}

.hours {
  width: 10%;
  text-align: center;
}

.due {
  width: 10%;
}

.status {
  width: 10%;
}
