.timer {
  text-align: center;
  margin: 2 auto;
}

.timerLabelToolTip {
  visibility: hidden;
  position: absolute;
  background-color: black;
  color: #fff;
  border-radius: 6px;
  padding: 5px 0;
  line-height: 1.2em;
}

.timerLabel:hover .timerLabelToolTip {
  width: 120px;
  visibility: visible;
}
